services:

  # [2] Redis
  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  # [3] Backend (Django)
  backend:
    build: ./backend
    command: python manage.py runserver 0.0.0.0:8000
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - redis
    env_file:
      - ./backend/.env

  worker:
    build: ./backend
    command: celery -A config worker --loglevel=info --pool=gevent --concurrency=60
    volumes:
      - ./backend:/app
    depends_on:
      - redis
    env_file:
      - ./backend/.env
